<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ilsiane&Eliseu</title>

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
      integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
      
      <script
      src="https://kit.fontawesome.com/8dbc803407.js"
      crossorigin="anonymous"
      ></script>



          <link rel="shortcut icon" href="android-chrome-192x192.png" type="image/x-icon">
          <link rel="shortcut icon" href="favicon_io" type="imagem/x-icon">

        <link rel="stylesheet" href="../static/css/modelo_convite_casamento.css">

        <!-- inicio link para fontes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
        <!-- fim link para fontes -->

        <!-- inicio link para fontes adicionais -->
        <link href="https://fonts.googleapis.com/css2?family=Allura&family=Italianno&family=Qwigley&family=Tangerine&display=swap" rel="stylesheet">
        <!-- fim link para fontes adicionais  -->
  </head>
  <body>

    <header>Ilsiane&Eliseu</header>
    <nav>
      <a href="#">HOME</a>
      <a href="#">O CASAL</a>
      <a href="#">PADRINHOS</a>
      <a href="#">RECEPÇÃO</a>
      <a href="#">LISTA DE PRESENTES</a>
      <a href="">CONFIRME SUA PRESENÇA</a>
      <a href="">RECADOS</a>
    </nav>
      <main>
        <section>
          <article>
                  <div id="mainimagem">

                      <h1>
                          Ilsiane
                          <span id="uniao">&</span>
                          Eliseu
                      </h1>

                      <p id="dia">13 de Março de 2027</p>

                      <p id="local">A.D. Santa Martinha</p>

                  </div>

                  <h1>Contagem regressiva</h1>
                  <div id="contagemregressiva" class="contador">
                    <div>
                      <span id="dias">00</span>
                      <small>Dias</small>
                    </div>
      
                    <div>
                      <span id="horas">00</span>
                      <small>Horas</small>
                    </div>
      
                    <div>
                      <span id="minutos">00</span>
                      <small>Minutos</small>
                    </div>
      
                    <div>
                      <span id="segundos">00</span>
                      <small>Segundos</small>
                    </div>
                  </div>
                  <div id="boasvindas">
                      <p class="declaracaoboasvindas">Estamos muito felizes e contamos com a presença de todos no nosso grande dia!</p>

                      <p class="declaracaoboasvindas">Eclesiastes 4.9-10: Melhor é serem dois do que um, porque têm melhor paga do seu trabalho. Porque se caírem, um levanta o companheiro;</p>

                      <p class="declaracaoboasvindas">Ah, é importante também confirmar sua presença. Para isto contamos com sua ajuda clicando no menu “Confirme sua Presença” e preenchendo os dados necessários.</p>

                      <p class="declaracaoboasvindas">Aguardamos vocês no nosso grande dia!</p>
                  </div>
                  

                    <div class="flor_fundo_titulos"></div>
                    <h1>O Casal</h1>

                    <div id="nossa_foto_juntos">
                      <div id="fotos_separados_do_casal_he"></div>
                      <!-- <div id="fotos_separados_do_casal_me"></div> -->
                    </div>

                    <div id="ocasal">
                    <p class="declaracaocasal
                    ">Em um mundo tão vasto e imprevisível, o nosso encontro foi um presente de Deus.
                    Cada obstáculo superado, cada vitória compartilhada, cada lágrima derramada, cada momento juntos em nossa igreja fortaleceu a conexão entre nós. Hoje, diante de Deus, familiares e amigos, estamos escrevendo um novo capítulo dessa linda história. Que este casamento seja a prova de que Deus continua cumprindo sua aliança.</p>

                    <p class="declaracaocasal
                    ">Hoje, por confiar no Senhor, estamos vivendo esse sonho, e somos eternamente gratos a Deus, Pais, Pastores e pessoas em nossa volta que nos apoiam .</p>

                    <p class="declaracaocasal
                    ">
                      Jesus Cristo, é e sempre será o centro do nosso relacionamento.
                      Deus continua sendo louvado...
                    </p>

                    <p class="declaracaocasal
                    ">Vamos nos casar!</p>

                    <p class="declaracaocasal
                    ">Estamos preparando tudo com muito carinho para este momento único com nossos familiares e amigos querido</p>

                </div>
                <!-- inicio fotos em slides -->
                <div id="fotos_em_slides"> 
                <div id="slideshow">

                  <img id="slide1" src="../static/img/slide1.jpeg" alt="Foto do casal">
                  <img id="slide2" src="../static/img/slide2.jpg" alt="Foto do casal">
                  <img id="slide3" src="../static/img/slide3.jpg" alt="Foto do casal">
                  <img id="slide4" src="../static/img/slide4.jpg" alt="Foto do casal">
                  <img id="slide5" src="../static/img/slide5.jpg" alt="Foto do casal">
                  <img id="slide6" src="../static/img/slide6.jpg" alt="Foto do casal">
                  <img id="slide7" src="../static/img/slide7.jpg" alt="Foto do casal">
                  <img id="slide8" src="../static/img/slide8.jpg" alt="Foto do casal">
                  <img id="slide9" src="../static/img/slide9.jpg" alt="Foto do casal">
                  <img id="slide10" src="../static/img/slide10.jpg" alt="Foto do casal">
                </div>   
                <div id="indicadores"></div>
               </div>

                </div>
                <!-- fim fotos em slides -->
                 <div class="ramo_fundo_titulos"></div>
                <h1>Padrinhos</h1>
                <div id="padrinhos">
                  <p class="declaracaopadrinhos">Aos nossos queridos padrinhos: Cada um de vocês são exemplos de casal que espelhamos e admiramos, por isso, é com muita alegria, carinho que desejamos partilhar com vocês toda felicidade dessa nova etapa em nossas vidas: nosso casamento!</p>

                  <p class="declaracaopadrinhos">A presença de vocês é indescritível na cerimônia como também para nossas vidas.</p>

                </div>

                  <section id="localizacao">
                      <div class="flor_fundo_titulos"></div>
                      <h1>Local da Cerimônia</h1>
                      <br><br> 
                      <div id="imagemdaigreja">
                          <img src="{{ url_for('static', filename='img/fotodaigreja.png') }}" alt="Imagem da igreja">
                      </div>
                      <br><br><br><br><br> 

                      <div id="mapa">
                          <iframe
                              src="https://www.google.com/maps?q=Assembleia%20de%20Deus%20Santa%20Martinha%2C%20Rua%20Doutor%20Luiz%20Lelles%2C%20506%2C%20Ribeir%C3%A3o%20das%20Neves%2C%20Minas%20Gerais&output=embed"
                              width="600"
                              height="450"
                              style="border:0;"
                              allowfullscreen=""
                              loading="lazy">
                          </iframe>

                          <p id="nome_igreja">
                              Assembleia de Deus Santa Martinha
                          </p>

                          <p id="endereco_igreja">
                              Rua Doutor Luiz Lelles, 506<br>
                              Ribeirão das Neves - Minas Gerais
                          </p>
                      </div>

                  </section>



                <div class="ramo_fundo_titulos"></div>
                <h1>Lista de Presentes</h1>
                <div id="listadepresentes">
                    <!--inicio do produto-->
                    <div class="alinharprodutoedescriçao mt-4 mb-4">
                      <img src="{{ url_for('static', filename='img/slide10.jpg') }}" alt="Logo Mesa 4 lugares" class="produtosham" />
                      <div class="descriçaogeral">
                        <p class="nomeham">Mesa 4 lugares</p>
                        <p class="descriçaoham"></p>
                        <div class="preços">
                          <p>R$ 1500.99</p>
                          <button  id="btn-Mesa-4-lugares"
                          data-name="Mesa 4 lugares" data-price="1500.99"

                          aria-labelledby="labeldiv" class="addcart">
                            <i class="fa-solid fa-cart-shopping"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <!--fim do produto-->
                </div>

                     <!-- inico do modal(dentro do meu carrinho) -->
                    <div id="dentrodocarrinho">
                        
                        <div id="subdentrodocarrinho">                
                            <h4>Meu carrinho</h4>
                            <!-- barra de progresso do meu carrinho -->

                            <!-- inicio passo 1 -->
                            <div id="step-carrinho">
                                  <div id="submeucarrinho">
                            
                                  </div>
                                  <!-- resumo -->

                                    <div id="resumo">
                                
                                    <h5>Resumo</h5>
                                
                                    <!-- valor da taxa de entrega -->
                                
                                    <p id="resultado"></p>
                                    <p>
                                      Subtotal:
                                      <span id="subtotal-resumo">R$ 0,00</span>
                                    </p>

                                    <!-- valor do pedido -->
                                
                                    <p id="valortotal">
                                        Total:
                                        <span>0.00</span>
                                    </p>
                                
                                    </div>
                                    <div id="fim-step-resumo">
                                      <button type="button" id="voltar-step3">Voltar</button>
                                      <button type="button" id="Finalizar">Finalizar pedido</button>
                                    </div>

                              </div>                   
                        </div>
                    </div>
                    
                    <!-- fim do modal(dentro do meu carrinho) -->


                <div class="flor_fundo_titulos"></div>
                <h1>Confirmar presença</h1>
                <div id="confirmarpresenca">
                </div>

                <div class="ramo_fundo_titulos"></div>
                <h1>Deixe seu recado</h1>
                <div id="recados">

                </div>
                <div class="flor_fundo_titulos"></div>

                    
          </article>
        </section>
      </main>
     <footer>Forever, God, Ilsiane de Araujo Silva and Eliseu Matos da Silva</footer>
     <footer>
        <button id="meucarrinho">
          (<span id="quantidadecarinho">0</span>)
          Veja meus Presentes
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
     </footer>
     <script src="../static/js/slides_fotos.js"></script>
     <script src="../static/js/contagemregressiva.js"></script>
      <!-- <script src="contagem_2_regressiva.js"></script> -->
  </body>
</html>