<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Did you know?</title>
    <link rel="shortcut icon" href="android-chrome-192x192.png" type="image/x-icon">
    <link rel="shortcut icon" href="favicon_io" type="imagem/x-icon">

  <link rel="stylesheet" href="../static/css/modelo_convite_casamento.css">

  <!-- inicio link para fontes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  <!-- fim link para fontes -->

  <!-- inicio link para fontes adicionais -->
  <link href="https://fonts.googleapis.com/css2?family=Allura&family=Italianno&family=Qwigley&family=Tangerine&display=swap" rel="stylesheet">
  <!-- fim link para fontes adicionais  -->
  </head>
  <body>

    <header>Ilsiane&Eliseu</header>
    <nav>
      <a href="#">HOME</a>
      <a href="#">O CASAL</a>
      <a href="#">PADRINHOS</a>
      <a href="#">RECEPÇÃO</a>
      <a href="#">LISTA DE PRESENTES</a>
      <a href="">CONFIRME SUA PRESENÇA</a>
      <a href="">RECADOS</a>
    </nav>
      <main>
        <section>
          <article>
              <div id="mainimagem">

                  <h1>
                      Ilsiane
                      <span id="uniao">&</span>
                      Eliseu
                  </h1>

                  <p id="dia">13 de Março de 2027</p>

                  <p id="local">A.D. Santa Martinha</p>

              </div>

              <h1>Contagem regressiva</h1>
              <div id="contagemregressiva" class="contador">
                <div>
                  <span id="dias">00</span>
                  <small>Dias</small>
                </div>
  
                <div>
                  <span id="horas">00</span>
                  <small>Horas</small>
                </div>
  
                <div>
                  <span id="minutos">00</span>
                  <small>Minutos</small>
                </div>
  
                <div>
                  <span id="segundos">00</span>
                  <small>Segundos</small>
                </div>
              </div>
              <div id="boasvindas">
                  <p class="declaracaoboasvindas">Estamos muito felizes e contamos com a presença de todos no nosso grande dia!</p>

                  <p class="declaracaoboasvindas">Eclesiastes 4.9-10: Melhor é serem dois do que um, porque têm melhor paga do seu trabalho. Porque se caírem, um levanta o companheiro;</p>

                  <p class="declaracaoboasvindas">Ah, é importante também confirmar sua presença. Para isto contamos com sua ajuda clicando no menu “Confirme sua Presença” e preenchendo os dados necessários.</p>

                  <p class="declaracaoboasvindas">Aguardamos vocês no nosso grande dia!</p>
              </div>


            <h1>O Casal</h1>
            <div id="ocasal">
                <p class="declaracaocasal
                ">Em um mundo tão vasto e imprevisível, o nosso encontro foi um presente de Deus.
                 Cada obstáculo superado, cada vitória compartilhada, cada lágrima derramada, cada momento juntos em nossa igreja fortaleceu a conexão entre nós. Hoje, diante de Deus, familiares e amigos, estamos escrevendo um novo capítulo dessa linda história. Que este casamento seja a prova de que Deus continua cumprindo sua aliança.</p>

                <p class="declaracaocasal
                ">Hoje, por confiar no Senhor, estamos vivendo esse sonho, e somos eternamente gratos a Deus, Pais, Pastores e pessoas em nossa volta que nos apoiam .</p>

                <p class="declaracaocasal
                ">
                  Jesus Cristo, é e sempre será o centro do nosso relacionamento.
                  Deus continua sendo louvado...
                </p>

                <p class="declaracaocasal
                ">Vamos nos casar!</p>

                <p class="declaracaocasal
                ">Estamos preparando tudo com muito carinho para este momento único com nossos familiares e amigos querido</p>

            </div>

            <div  id="ocasalimagem"></div>>
             <p class="ocasalimagem">imagem do casal</p>
            </div>

            <h1>Padrinhos</h1>
            <div id="padrinhos">
              <p class="declaracaopadrinhos">Aos nossos queridos padrinhos: Cada um de vocês são exemplos de casal que espelhamos e admiramos, por isso, é com muita alegria, carinho que desejamos partilhar com vocês toda felicidade dessa nova etapa em nossas vidas: nosso casamento!</p>

              <p class="declaracaopadrinhos">A presença de vocês é indescritível na cerimônia como também para nossas vidas.</p>

            </div>

            <h1>Cerimônia</h1>
            <div id="localizacaodaigreja">
              <p  class="localizacaodaigreja">imagem da igreja</p>
              <p  class="localizacaodaigreja">Localizaçao da igreja</p>
            </div>
             <h1>Lista de Presentes</h1>
             <div id="listadepresentes">

             </div>



             <h1>Confirmar presença</h1>
            <div id="confirmarpresenca">
            </div>

            <h1>Deixe seu recado</h1>
            <div id="recados">

            </div>
                    
          </article>
        </section>
      </main>
     <footer>Forever, Ilsiane de Araujo Silva and Eliseu Matos da Silva</footer>
     <script src="../static/js/contagemregressiva.js"></script>
      <!-- <script src="contagem_2_regressiva.js"></script> -->
  </body>
</html>