* {
  margin: 0%;
}
:root {
  --cor1: rgba(10, 82, 10, 0.897);
  --cor2: rgba(15, 124, 15, 0.719);
  --cor3: rgb(4, 54, 4);
  --cor4: rgba(5, 70, 9, 0.281);
}
body {
  /* background-color: var(--cor4); */
  /* min-height: 100vh; */
  background-color: var(--cor2);
  background-image: url("../img/fundo_entrada_uprate.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
main {
  margin: auto;
  max-width: 800px;
  min-height: 320px;
  /* background-color: aliceblue; */
  /* background-image: url("../img/fundo_entrada.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
  border-radius: 5px;
}
header {
  text-align: center;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  padding: 10px;
  background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
  border-bottom: 1px solid var(--cor4);
}
nav {
  padding: 5px;
  margin: -9.99px 0px 10px 0px;
  background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
  text-align: center;
}
nav a {
  /* margin: 10px; */
  margin: 0%;
  /* padding: 30px; */
  padding-left: 30px;
  
  margin: -10px -5px 10px 0px;
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: rgba(143, 156, 144, 0.863);
}
nav a:active {
  color: red;
}

main {
  /* background-color: #ffffff30;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 11px; */
}

main > div {
  flex: 500px;
}
/* inicio boas vindas */
#boasvindas{
  background-color: #ffffff30;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
}

#boasvindas > div {
  flex: 300px;
}

.declaracaoboasvindas{
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  font-size: 18px;
  text-align: center;
}

/* fim boas vindas */

/* inicio contagem regressiva */
#contagemregressiva{
  background-color: #ffffff30;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
}

#contagemregressiva > div {
  flex: 300px;
}

.contador {
    display: flex;
    justify-content: center;
    gap: 25px;
    text-align: center;
}

.contador div {
    display: flex;
    flex-direction: column;
    background-color: var(--cor2);
    border: 2px solid #ffffff90#333;
    border-radius: 15px;
    padding: 0%;
    margin: 0%;

}

.contador span {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff99;
    align-content: space-between;


}

.contador small {
    font-size: 14px;
    

}


/* fim contagemre gressiva */



/*inicio declaraca ocasal */

#ocasal {
  background-color: #ffffff30;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
}

#ocasal > div {
  flex: 300px;
}

.declaracaocasal{
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  font-size: 18px;
  text-align: center;
}
/* fim declaracao casal */



/* inicio declaracao padrinhos */
#padrinhos{
  background-color: #ffffff30;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
}

#padrinhos > div {
  flex: 300px;
}

.declaracaopadrinhos{
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  font-size: 18px;
  text-align: center;
}

/* fim declaracao padrinhos */

/* inicio localizacao da igreja */
#localizacaodaigreja{
  background-color: #ffffff30;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
}

#localizacaodaigreja > div {
  flex: 300px;
}

.localizacaodaigreja{
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  font-size: 18px;
  text-align: center;
}
/* fim localizacao da igreja */

/* inicio lista de presentes */
#listadepresentes{
  background-color: #ffffff30;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
}

#listadepresentes > div {
  flex: 300px;
}

/* fim lista de presentes */


/* inicio confirmaçao de presença */
#confirmarpresenca{
  background-color: #ffffff30;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
}

#confirmarpresenca > div {
  flex: 300px;
}

/* fim confirmacao de presenca */


/* inicio recados */
#recados{
    background-color: #ffffff30;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
}

#recados > div {
  flex: 300px;
}
/* fim recados */





h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#uniao{
  text-align: center;
  background-color: blue;
  border-radius: 70%;
}
  
#dia{
  text-align: center;
  color: blueviolet;
}

#local{
  text-align: center;
  color: blue;
}






h3 {
  padding: 10px 0px;
}
h4 {
  padding: 5px 0px;
}
h1,
h3,
h4 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.288);
  padding-left: 3px;
}
p {
  padding-left: 15px;
  padding-right: 15px;
  text-indent: 15px;
  text-align: justify;
  line-height: 1.5em;
}
p > a {
  background-color: var(--cor4);
  color: var(--cor1);
}
ol {
  line-height: 1.5em;
}
h4 > a {
  background-color: var(--cor4);
  color: var(--cor1);
}

#text {
  font-family: "Courier New", Courier, monospace;
}
img {
  max-width: 450px;
  width: 100%;
}
footer {
  background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
  color: #ffffff90;
  text-align: center;
  padding: 3px;
  margin-top: 10px;
}
